doctype html
html(lang='en')
    head
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
    boby
      .myWeb
        .row
          .col-md-12
            .header
              .logo
              ul.sign
                li.login
                  a(href='/quit') quit
        block content
        .row
          .col-md-12
            .footer
              .container
                .col-sm-6.col-lg-6
                  .h4 笑哈哈简介
                    .p 这是颐和简介的内容哈哈哈
                .col-sm-6.col-lg-5.col-lg-offset-1
                  .rowleft
                    .col-xs-3 关于1
                    .col-xs-3 关于2
                    .col-xs-3 关于3
                    .col-xs-3 关于4